<head>
  <link rel="stylesheet" type="text/css" href="/static/sensei-grid.min.css"/>
  <link rel="stylesheet" type="text/css" href="/static/bootstrap.min.css"/>

  <script src="/static/jquery.min.js"></script>
  <script src="/static/lodash.min.js"></script>
  <script src="/static/sensei-grid.min.js"></script>
</head>
<body>
<h1>Welcome to the Regolith Grader!</h1>
{% for dbname in rc.client.keys() if dbname != 'local' %}
  <h3>{{ dbname }}{% if status %} [{{status}}]{% endif %}</h3>

  <select id='courses' onchange='courseChanged(this.value);'>
    <option value=''>Select Course</option>
    {% for course in rc.client.all_documents(dbname, 'courses') %}
    {% if course['active'] %}
    <option value="{{course['_id']}}">{{course['_id']}}</option>
    {% endif %}
    {% endfor %}
  </select>
  <br/><br/>

  <select id='students' onchange='studentChanged(this.value);'>
    <option value=''>Select Student</option>
  </select>
  <br/><br/>

  <select id='assignments' onchange='assignmentChanged(this.value);'>
    <option value=''>Select Assignment</option>
  </select>
  <br/><br/>

  <form action="" method="post" id="gradeform">
    <textarea rows="1" cols="16" name="dbname" style="display:none;">{{dbname}}</textarea>
    <textarea rows="1" cols="16" name="course" id="course" style="display:none;"></textarea>
    <textarea rows="1" cols="16" name="student" id="student" style="display:none;"></textarea>
    <textarea rows="1" cols="16" name="assignment" id="assignment" style="display:none;"></textarea>
    <label for="filename">Filename: </label>
    <textarea rows="1" cols="16" name="filename" id="filename"></textarea><br/>
    <button name="Submit" value="submit">Submit</button>
  </form>
  </div>

<script type="text/javascript">
function trucateSelectAfterFirst(sdoc) {
  var ln = sdoc.length - 1;
  while (ln > 0) {
    sdoc.remove(1);  // rm all but first element
    ln--;
  }
}

function extendSelectOptions(sdoc, opts) {
  for (i = 0; i < opts.length; i++) {
    var option = document.createElement('option');
    option.text = opts[i];
    option.value = opts[i];
    sdoc.add(option);
  }
}

function courseChanged(course) {
  var selectStudent = document.getElementById('students');
  trucateSelectAfterFirst(selectStudent);

  var selectAssignment = document.getElementById('assignments');
  trucateSelectAfterFirst(selectAssignment);

  var studentOptions;
  var assignmentOptions;

  switch(course){
    {% for course in sorted(rc.client.all_documents(dbname, 'courses'), key=by_id) %}
    {% if course['active'] %}
    case "{{course['_id']}}":
      studentOptions = {{json.dumps(sorted(course['students'])) | safe}};
      assignmentOptions = [
        {%- for a in sorted(rc.client.all_documents(dbname, 'assignments'), key=by_id) -%}
        {%- if course['_id'] in a['courses'] -%}
        "{{a['_id']}}",
        {%- endif -%}
        {%- endfor -%}
        ];
      break;
    {% endif %}
    {% endfor %}
    default:
  }
  extendSelectOptions(selectStudent, studentOptions);
  extendSelectOptions(selectAssignment, assignmentOptions);

  var courseForm = document.getElementById('course');
  courseForm.value = course;
}

function studentChanged(student) {
  var studentForm = document.getElementById('student');
  studentForm.value = student;
}


var scoreNodes = [];

function insertSecondToLast(form, node) {
  var loc = form.childNodes.length - 2;
  form.insertBefore(node, form.childNodes[loc]);
  scoreNodes.push(node);
}

function assignmentChanged(assignment) {
  var offset = 2;
  var gradeForm = document.getElementById('gradeform');

  // remove existing score nodes
  while (scoreNodes.length > 0) {
    snode = scoreNodes.pop();
    snode.remove();
    delete snode;
  }

  // get selections
  var points;
  var questions;
  switch(assignment){
    {% for assignment in sorted(rc.client.all_documents(dbname, 'assignments'), key=by_id) %}
    case "{{assignment['_id']}}":
      points = {{json.dumps(assignment['points']) | safe}};
      {% if 'questions' in assignment -%}
      questions = {{json.dumps(assignment['questions']) | safe}};
      {%- else -%}
      questions = [
        {%- for i in range(1, len(assignment['points'])+1) %}
            "Problem {{i}}",
        {%- endfor -%}
        ];
      {%- endif %}
      break;
    {% endfor %}
    default:
  }

  var br = document.createElement("BR");
  insertSecondToLast(gradeForm, br);
  for (i = 0; i < points.length; i++) {
    // create input
    var scoreInput = document.createElement("INPUT");
    scoreInput.setAttribute("type", "number");
    var scorename = "score" + i.toString();
    scoreInput.id = scorename;
    scoreInput.setAttribute("name", scorename);
    scoreInput.min = 0;
    scoreInput.max = points[i];
    scoreInput.step = 0.001;
    scoreInput.required = true;

    // create label
    var scoreLabel = document.createElement("LABEL");
    scoreLabel.setAttribute("for", scorename);
    var scoreQuest = document.createTextNode(questions[i] + " [max=" + points[i].toString() + "]: ");
    scoreLabel.appendChild(scoreQuest);

    // append nodes
    var br = document.createElement("BR");
    insertSecondToLast(gradeForm, scoreLabel);
    insertSecondToLast(gradeForm, scoreInput);
    insertSecondToLast(gradeForm, br);
  }
  var br = document.createElement("BR");
  insertSecondToLast(gradeForm, br);

  var assignmentForm = document.getElementById('assignment');
  assignmentForm.value = assignment;
}
</script>
{% endfor %}

<br/><br/>
<hr/>
<br/><br/>
<form action="shutdown" method="post">
  <button name="shutdown" value="shutdown">Shutdown Server</button>
</form>
</body>
