{% extends "base.html" %}
{% block header %}
<h1>{{p['name']}}</h1>
{% endblock header %}
{% block content %}
<h1>{{p['position'].capitalize()}}</h1>
<img src="{{p.get('avatar')}}" style="width:200px;height:200px;"/>
<p>{{p.get('bio', '').replace('\n\n', '</p><p>')}}</p>

{%if len(education_and_employment) > 0%}
<hr/>
<h1>Education & Employment</h1>
{%for e in education_and_employment%}
  {%if 'institution' in e%}{# In eduction #}
    <h2>{{e['institution']}}</h2><h3>{{e['degree']}}</h3>
  {%elif 'organization' in e%}{# In emplyment #}
    <h2>{{e['organization']}}</h2><h3>{{e['position']}}</h3>
  {%endif%}
  {{e['location']}}, <i>{{e['begin_year']}} - {{e.get('end_year', 'present')}}</i><br/>
  {%if 'other' in e and len(e['other']) > 0%}
    <ul>{%for o in e['other']%}
      <li>{{o}}</li>
    {%endfor%}</ul>
  {%endif%}
{%endfor%}
{%endif%}


{%if 'funding' in p and len(p['funding']) > 0%}
<hr/>
<h1>Awards, Grants, & Contracts</h1>
{%for f in sorted(p['funding'], key=doc_date_key, reverse=True)%}
<h3>{{f['name']}}</h3>
{{f.get('currency', '$')}}{{'{:,.2f}'.format(f['value'])}} in 
{{f.get('month', '')}} {{f['year']}}{%if 'duration' in f%}, 
Duration: {{f['duration']}}{%endif%}
<br/><br/>
{%endfor%}
{%endif%}


<hr/>
<h1>Publications</h1>
{%if bibfile%}<h3><a href="{{p['_id']}}.bib">[Download bibtex]</a></h3>{%endif%}
<ul>
{% for pub in pubs %}
  <li>
  {% for a in pub['author'][:-1] %}
    {% if a in names %}<b>{% endif %}{{a}}{% if a in names %}</b>{% endif %},
  {% endfor %}
  {% if len(pub['author']) > 1 %}
    and
  {% endif %}
  {% set a = pub['author'][-1] %}
  {% if a in names %}<b>{% endif %}{{a}}{% if a in names %}</b>{% endif %}.
  <i>"{{pub.get('title', '')}}".</i> 
  {{pub.get('journal', '')}}
  {{pub.get('booktitle', '')}}.
  {{pub.get('volume', '')}} 
  {{'p. ' + pub['pages'] if 'pages' in pub else ''}} 
  {{pub.get('address', '')}}
  {% if 'month' in pub and 'year' in pub %}
    {{pub['month'].capitalize()}} {{pub['year']}}
  {% elif 'year' in pub %}
    ({{pub['year']}})
  {% endif %}
  {% if 'link' in pub %}<a href="{{pub['link']}}">link</a>{% endif %}
  {% if 'url' in pub %}<a href="{{pub['url']}}">download</a>{% endif %}
  {% if 'doi' in pub %}<a href="{{pub['doi']}}">doi</a>{% endif %}
  </li>
{% endfor %}
</ul>
{% endblock content %}
{% block footer %}
{% endblock footer %}
