name: CI

on:
  push:
    branches:
      - main
  pull_request:
  workflow_dispatch:

jobs:
  miniconda:
    name: Miniconda ${{ matrix.os }}
    runs-on: ${{ matrix.os }}
    strategy:
        matrix:
            os: ["ubuntu-latest"]
    steps:
      - name: check out rg-db-public
        uses: actions/checkout@v3
        with:
          # make sure rg-db-public is at the same level as rg-db-local in the
          # directory tree
          path: rg-db-public

      - name: check out regolith
        uses: actions/checkout@v3
        with:
          repository: regro/regolith
          # for bookkeeping have regolith at the same level as everything else in the
          # directory tree
          path: .

      - name: initialize miniconda
        # this uses a marketplace action that sets up miniconda in a way that makes
        # it easier to use.  I tried setting it up without this and it was a pain
        uses: conda-incubator/setup-miniconda@v2
        with:
          activate-environment: test
          # environment.yml file is needed by this action.  Because I don't want
          # maintain this but rather maintain the requirements files it just has
          # basic things in it like conda and pip
          environment-file: environment.yml
          python-version: 3
          auto-activate-base: false

      - name: install regolith requirements
        shell: bash -l {0}
        run: |
          conda config --set always_yes yes --set changeps1 no 
          conda config --add channels conda-forge
          conda install --file requirements/run.txt
          conda install --file requirements/test.txt
          pip install .

      - name: run tests
        shell: bash -l {0}
        run: |
          conda activate test
          coverage run run_tests.py
          coverage report -m
          codecov
          python run_tests.py
